@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  min-height: 100%;
  width: 100%;
  background-color: #1c1a19;
  color: #fff;
}

.flex {
  display: flex;
  flex-basis: 100%;
  border: #fff 1px solid;
}

.justArround {
  justify-content: space-around;
}

.justCenter {
  justify-content: center;
}

.justEnd {
  justify-content: end;
}

.justRight {
  justify-content: right;
}

.justLeft {
  justify-content: left;
}

.dir-column {
  flex-direction: column;
}

.margAuto {
  margin: auto;
}

.margX {
  margin: 0% 5%;
}

.margY {
  margin: 5% 0%;
}

.flex1 {
  flex: 1;
}

.flex2 {
  flex: 2;
}

.flex3 {
  flex: 3;
}

.flex5 {
  flex: 5;
}

.flex7 {
  flex: 7;
}

.nav {
  background-color: #3e3c3c;
  width: 100%;
  height: 3rem;
}

.navBar img {
  height: 1rem;
}

ul {
  list-style: none;
}

a {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  text-decoration: none;
}

.logo {
  color: #fff;
  font-family: 'Roboto';
  font-weight: 700;
}

.main {
  height: 80vmax;
}

.socialIcons img {
  width: 1rem;
  margin: 0.5rem;
}

.bodyTxt {
  width: 90%;
}

.nopadnomrg {
  padding: 0;
  margin: 0;
}

.bodyTxt h1 {
  font-family: 'Crete Round', serif;
  font-size: 3rem;
  font-weight: 400;
  color: #ff6b00;

}

.bodyTxt h3 {
  font-family: 'Roboto';
  font-weight: 700;
}

.bodyTxt p {
  font-family: 'Poppins';
  font-weight: 400;
}

.bodyImg img {
  margin-top: -25%;
  float: right;
  width: 40%;
}
