@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crete+Round&family=Inter:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

body {
  min-height: -webkit-max-content;
  min-height: -moz-max-content;
  min-height: max-content;
  width: 100vw;
  background-color: #1c1a19;
  overflow: hidden;
  margin: 0;
  padding: 0;
  color: #fff;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 3;
  -ms-flex: 3;
  flex: 3;
  margin-left: 5vw;
  -webkit-box-pack: left;
  -ms-flex-pack: left;
  justify-content: left;
}

.logo p {
  color: #fff;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  margin-right: 5vw;
  background-color: #3e3c3c;
  width: 100%;
  height: 15vw;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2rem;
  -webkit-box-pack: right;
  -ms-flex-pack: right;
  justify-content: right;
}

li {
  margin: 1vh;
  list-style: none;
}

li img {
  height: 3vh;
}

a {
  color: #f3f3f3;
  opacity: 0.8;
  font-family: 'Inter', sans-serif;
  font-size: 15px;
  text-decoration: none;
}


a:hover {
  color: #fff;
  opacity: 1;
  -webkit-filter: brightness(200%);
  filter: brightness(200%);
}

/* main body style */
.main {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-image: url('./images/Illustration-header.svg');
  background-position: 25vh 85vw;
  background-repeat: no-repeat;
  background-size: 100vw;
  height: 100vh;
}

.social {
  display: flex;
  flex-direction: row;
  justify-content: start;
  order: 2;
  flex: 1;
  padding: 0;
  margin: 1vh;
}

.bodyTxt {
  display: flex;
  flex-direction: column;
  justify-content: end;
  order: 1;
  margin: auto;
  width: 90vw;
  height: auto;
  flex: 2;
}

.bodyTxt h1 {
  font-family: 'Crete Round', serif;
  font-size: 15vw;
  font-weight: 400;
  color: #ff6b00;
  margin: 0%;
}

.bodyTxt h3 {
  font-size: 7vw;
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  font-weight: 700;
}

.bodyTxt p {
  font-family: 'Poppins', sans-serif;
  font-size: 5vw;
  font-weight: 400;
  margin: 0;
}

/* media width 375px or more */
@media all and (min-width: 375px) {
  .header {
    height: 10vw;
  }

  a {
    font-size: 4vw;
  }
}

@media all and (min-width: 768px) {
  .header {
    height: 5vw;
  }

  a {
    font-size: 2vw;
  }

  .nav img {
    width: 3vw;
  }

  .main {
    flex-direction: row;
    width: 100vw;
    background-position: 100% 100%;
    background-size: 70vh;
  }

  .social {
    flex-direction: column;
    justify-content: center;
    margin: auto;
    flex: 1;
    order: 1;
  }

  .bodyTxt {
    order: 2;
    flex: 7;
    justify-content: left;
    width: 50%;
    margin: auto;
  }

  .bodyTxt h1 {
    font-size: 6vw;
  }

  .bodyTxt h3 {
    font-size: 3vw;
    margin: 2vw;
  }

  .bodyTxt p {
    width: 60%;
    font-size: 2vw;
    margin: 0;
  }

}